.container{
  background-color: #EFEBE9;
  position: relative;
  margin: auto;
}

#title  {
  text-align: center;
  font-size: 30px;
  font-family: san-serrif;
  font-weight: bold;
}
.subtitle {
  text-align: center;
  font-weight: light;
}
@media (max-width: 460px){
  .subtitle {
    text-align: center;
    font-size: 8px; 
  }
}
#img-div {
  border-style: solid;
  border-width: 20px;
  border-color: white;
  margin: 10px 60px 10px 60px; 
}
#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
#img-caption {
  font-size: 20px;
}
#tribute-info {
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  line-height: 2.2em
}
#tribute-link {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}